db.sqlite3
.venv
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
db.sqlite3
.venv
.env
*/.env
**/.env
__pycache__/
*/__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.vscode

potatochip/.digital_ocean.env.example
