.box {
    display: block;
    margin: 0;
    padding: 20px;
    text-align: center;
    border: 10px solid #404464;
    border-radius: 10px;
    max-width: 520px;
    background-color: #DADBE7;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--primary-bg);
}