body {
    background-color: var(--primary-bg);
}

.space {
    margin: 10px;
}

.logo {
    justify-items: center;
}

.logo img {
    display: block;
}

.center-me {
    display: block;
    justify-items: center;
}