{% extends "base.html" %}
{% load static %}
{% block head_extra %}
<link rel="stylesheet" href="{% static 'potatochip/css/register.css' %}">
{% endblock %}

{% block content %}
<div class="box">
    <form action="" method="post" class="center-me">
        {% csrf_token %}
        {% if form.email.errors %}
        {{ form.email.errors }}
        {% endif %}
        <p>{{ form.email }}</p>
        <button type="submit" class="center-me">Reset password</button>
    </form>
    <p class="center-me"><a href="{% url 'login' %}" class="center-me">Back to login</a></p>
</div>
{% endblock %}