# DigitalOcean App Platform env example
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://*.ondigitalocean.app
SECRET_KEY=change-me-in-production
REDIS_URL=rediss://default:<redacted>@db-valkey-nyc3-56264-do-user-33873700-0.e.db.ondigitalocean.com:25061/0
